---
layout: default
title: Blog
description: KJ Blog
---


<div class="container-fluid white">
  <div class="container padded-med">
    <div class="row">
      <div class="col-md-3">
        <div class="blog-index">  
        <h2>Blog Archive</h2>
          <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            -
          {% endfor %}
        </ul>
    
     



        </div>
      </div>
      <div class="col-md-9 white">

         {% for post in site.posts limit:1%}
    
           <li>
                {{ post.content }}
                            <a href="{{ post.url }}#share">Click to share and comment</a>

              </li>
              
              
                  {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="container-fluid center padded-med" id="watercolor">
  <div class="row">
    <div class="col-md-12">
      <p class="white-font">401 N 3RD STREET • SUITE 663 • MINNEAPOLIS, MN 55401
612.200.9613 • SALES@KILLIANJEWELRY.COM </p>
    </div>
  </div>
</div>


