---
layout: splash
title: Home
description: KILLIAN™, a fresh, unique line of jewelry, allows women to individualize their look, expressing themselves through their own luxurious, gemstone-studded creations.
---



<div class="container-fluid videeo">

	<video autoplay loop poster="/img/coverc.jpg">
			<source src="/img/videoc.webmsd.webm" type="video/webm">
			<source src="/img/videoc.mp4.mp4" type="video/mp4">
			</video> <script>
    			document.getElementById('vid').play();
			</script>


	<div class="content"><span class="headline">Ready to start your collection?</span>
		<a class="btn btn-ghost" href="{{ site.baseurl }}/storelocator/" role="button">Find a Retailer</a>
	</div>
<!-- <div class="signup-overlay">
		{% include signup.html %}
	</div>
-->
	

	
</div>



<!-- <div class="container-fluid">
	<img src="/img/coterie.jpg" class="img-responsive">
</div>
<div class="container-fluid">
	<img src="/img/widewater.jpg" class="img-responsive">
</div>

-->


<div class="container-fluid center padded-huge hidden-xs" id="coterie">
	<div class="row">
		<div class="col-md-12">


	<span class="headline">Learn more about</span>
		<a class="btn btn-ghost" href="{{ site.baseurl }}/features/" role="button">Features</a>

		</div>
	</div>
</div>
<div class="container padded-med visible-xs">
	<div class="row">
		<div class="col-md-12" col-md-offset-1"">
			<p>
KILLIAN Jewelry is a fresh, unique line of jewelry that allows women to individualize their look, expressing themselves through their own luxurious, gemstone-studded creations.</p><p>

Artistically designed bracelets, rings and earrings set the stage for stunning, interchangeable KILLIAN Facettes, each finely crafted with brilliantly cut gems set in sterling silver.</p><p>

Worn singly or as a personally selected collection, KILLIAN Facettes reflect each woman’s unique beauty, celebrating her individual sense of style.
</p><p>
Head-turning jewelry you’ll wear every day.</p><p>

Committed to high quality and fine design, KILLIAN Jewelry uses only premium materials: exquisite gemstones collected from around the globe; sterling silver finished with tarnish-resistant rhodium; and solid stainless steel clasps, ensuring your facettes clip on and off for a lifetime.
</p>
<blockquote>
“Jewelry is a celebration of our beauty.”

 <footer>Killian Rieder</footer></blockquote>
		</div>
	</div>
</div>
<div class="container-fluid center">
	<div class="col-md-12">
		<div class="row">
	

		<a href="/about#about1" id="the"><div class="col-md-4 padded-huge mfont" id="thewoman">The Woman
		</div></a>	
			<a href="/about#about2" id="the"><div class="col-md-4 padded-huge mfont" id="thebrand">The Brand
		</div></a>
			<a href="/about#about3" id="the"><div class="col-md-4 padded-huge mfont" id="thebeauty">The Beauty
		</div></a>
	</div>
	</div>
</div>
 {% include signup.html %}