<nav class="navbar navbar-default" role="navigation">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

   

    </div>

   <div class="navbar-collapse">
       <ul class="nav navbar-nav navbar-right">
      
<li class="{% if page.url == '/' %}active{% endif %}"><a href="{{ site.baseurl }}/">HOME</a></li>   
 <li class="{% if page.url == '/about/' %}active{% endif %}"><a href="{{ site.baseurl }}/about/">ABOUT</a></li> 
 <li class="{% if page.url == '/features/' %}active{% endif %}"><a href="{{ site.baseurl }}/features/">FEATURES</a></li> 
        <!-- <li class="{% if page.url == '/shop.html' %}active{% endif %}"><a href="http://killian.corecommerce.com">SHOP</a></li> -->
           <li class="{% if page.url == '/storelocator/' %}active{% endif %}"><a href="{{ site.baseurl }}/storelocator/">FIND A RETAILER</a></li>
        <!-- <li class="{% if page.url == '/blog/' % or page.layout contains 'post' %}active{% endif %}"><a href="{{ site.baseurl }}/blog/">BLOG</a></li>-->
        <li class="{% if page.url == '/contact/' %}active{% endif %}"><a href="{{ site.baseurl }}/contact/">CONTACT</a></li>
 
      </ul>
  

</nav>
