<div class="container-fluid steelgrey hidden-xs">
	<div class="container">
    <div class="row">
      <div class="col-md-12">

		<div class="signup white-font">
<form action="http://akashacollective.createsend.com/t/d/s/iyddjk/" method="post" id="subForm">
	<h2>GET STYLE TIPS AND UPDATES IN YOUR EMAIL
        <input id="fieldEmail" name="cm-iyddjk-iyddjk" type="email" required class="input-field input-field--signup" placeholder="ENTER YOUR EMAIL"/>

        <button type="submit" class="btn btn-ghost">Sign Up</button>

</form>
		</div>



      </div>
    </div>
  </div>
</div>

<div class="container-fluid steelgrey visible-xs padded-big">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

    <div class="signup white-font">
<form action="http://akashacollective.createsend.com/t/d/s/iyddjk/" method="post" id="subForm">
  <h2>GET STYLE TIPS AND UPDATES IN YOUR EMAIL
        <input id="fieldEmail" name="cm-iyddjk-iyddjk" type="email" required class="input-field input-field--signup" placeholder="ENTER YOUR EMAIL"/>

        <button type="submit" class="btn btn-ghost">Sign Up</button>

</form>
    </div>



      </div>
    </div>
  </div>
</div>

